<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steam Manager</title>
</head>
<body>
{{if .Refresh}}
    <script type="text/javascript">setTimeout(function() {window.location.reload();}, 4000);</script>
{{end}}
<h3>Steam: 7 Days to Die</h3>

<form action="/steam" method="post">
<table>
    <tbody>
    <tr>
        <td>Status</td>
        <td>{{ .Status }}</td>
    </tr>
    {{if .Question}}
    <tr>
        <td>{{.Question.Message}}</td>
        <td>
            {{if .Question.Sensitive}}
                <input type="password" name="answer" value="">
            {{else}}
                <input type="text" name="answer" value="">
            {{end}}
            <input type="hidden" name="action" value="answer">
            <input type="submit" value="answer">
        </td>
    </tr>
    {{else if .Action}}
    <tr>
        <td>Action(s)</td>
        <td><input type="hidden" name="action" value="{{ .Action }}">
            <input type="submit" value="{{ .Action }}">
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
</form>

</body>
</html>
